
@{
    ViewData["Title"] = "Index";
    //ViewData["ControllerName"] = "Role";
}

<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Roles</h2>
    </div>
    <div class="col-6 text-end">
        <a asp-action="Create" class="btn btn-info"><i class="fa-solid fa-plus" style="color: #095cec;"></i>&nbsp; New Role</a>
    </div>

</div>


<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                Name
            </th>
            
            <th></th>
            <th></th>

        </tr>
        @foreach (var item in ViewBag.Roles)
        {
            <tr>
                <td>@item.Name </td>
                <td></td>
                <td style="width:150px">
                    <div class="btn-group">
                        <a asp-action="Edit"  class="btn btn-primary" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square" style="color: #e3e61e;"></i></a>

                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id"><i class="fa-solid fa-trash" style="color: #f3674f;"></i></a>
                    </div>
                </td>
               

            </tr>
        }
    </table>
</div>
@section scripts{
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var save = '@TempData["save"]';
            if (save != '') {
                alertify.success(save);
            }
            var update = '@TempData["update"]';
            if (update != '') {
                alertify.success(update);
            }
            var del = '@TempData["delete"]';
            if (del != '') {
                alertify.warning(del);
            }
        })
    </script>
}

